div.ad-title h1,div.ad-title p{
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    color:white;
}
div.ad-title {
    padding:2em;
    background-size: cover;
    background-position: center center;
}
div.container{
    margin-top:20px;
}
div.carrousel-caption{
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
.avatar{
    border-radius: 50%;
    max-width: 128px;
    max-height: 128px;
}
.avatar-medium{
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini{
    max-width: 5px;
    max-height: 5px;
    border-radius: 50%;
}
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{
    color:firebrick !important;
}
 span.rating i {
     color: goldenrod;
 }
div.ad-title .btn{
    margin-top: 2em;
    font-size: 1.5em;
    line-height: 1.5;
}
.alert a{
    text-decoration: none;
}
.alert .btn{
    color: white;
}
