{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenu sur SymBNB !</h1>
        <p class="lead">Nous mettons en relation les voyageurs et les proprietaire des appartements.</p>
        <hr class="my-4">
        <p>Vous êtes voyageur?.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces!</a>
        </p>
    </div>
    <h2 class="h1 my-5">Nos appartements stars</h2>
    <div class="row mt-5">
        {% for ad in ads %}
            {% include 'ad/_ad.html.twig' with {'ad': ad.annonces }%}
        {% endfor %}
    </div>

    <h2 class="h1 my-5">Nos proprietaires stars !</h2>
    <div class="row mt-5">
        {% for data in users %}
            <div class="col-6">
                <div class="card border-secondary mb-3">
                    <div class="cardbody">
                        <h6 class="card-title text-center">{{ data.user.firstName}} {{ data.user.lastName}}</h6><hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x65" class="float-left mr-3" alt="Avatar de f.s">
                            <p>{{data.user.introduction }}</p>
                            <a href="{{path('user_show',{'slug': data.user.slug})}}" class="btn btn-success float-right">En savoir plus !</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}